<h1 class="mt-5">Selectores anidados</h1>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()" >
    <div class="row">
        <div class="col mb-3">
            <label class="formlabel">Continente: </label>
            <select class="form-control" formControlName="region" >
                <option value=""> -- Seleccione Continente -- </option>
                <option value="1"> America </option>
            </select>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary float-end">
                    Seleccionar
                </button>
            </div>
        </div>
    </div>
</form>

<h3>Formulario</h3>
<pre>{{ miFormulario.valid }}</pre>
<pre>{{ miFormulario.value | json }}</pre>